.footer{
    width: 100%;
    margin: 30px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    background-color: rgb(218, 244, 235);
    border-radius: 10px;
}
.f1{
    margin: 30px;
    color: rgb(102, 105, 108);
}
.f1 img{
    width: 70px;
    height: 70px;
}
.f1 p{
    margin-bottom: 230px;
}
.f2{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
.f2 h5{
    color: rgb(20, 23, 27);
    font-size: 17px;
}
.f2 p{
    color: rgb(102, 105, 108);
}
.f23{
    margin: 20px;
}
.dif{
    margin-left: -28px;
}
.icons{
    margin-top: auto;
    margin-left: 40%;
    padding: 20px;
    color: rgb(113, 118, 123);
}
.icon{
    margin: 20px;
    margin-top: 80px;
}
@media (max-width:550px){
    .f1 p{
        margin-bottom: 110px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin: 4%;
    }
    .icons{
        margin: auto;
        justify-content: space-around;
        text-align: center;

    }
}